/* 8) შექმენით 3 h1 და შეუცვალეთ ფერები განსხვავებულად ერთს ჩვეულებრივად ფერის სახელით მეორეს RGB-ით და მესამეს HEX-ით */

h1{
    color: lightgreen;
}

.h1{
    color: rgb(35, 70, 105);
}

#h1{
    color: #892412;
}