@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

table{
    font-family: "Roboto", serif;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(245, 236, 236);
}
td, th {
    color: gray;
    border: 1px solid rgb(217, 205, 205);
    padding: 10px; 
}

th{
    color: white;
    background-color: rgb(67, 201, 201);
}
td{
    text-align: center;
}

tr:nth-child(5){
    border-bottom: 2px solid rgb(67, 201, 201);
}