/* 1) გააკეთეთ ზუსტად ისეთი როგორიც ფოტოშია ნაჩვენები */


.Hello{
    text-decoration: underline dotted green;
    text-align: right;
}

.World{
    text-decoration: line-through;
    text-align: center;
}


.exclamation{
    text-decoration: overline double red;
}

.Goal{
    text-decoration: underline;
    text-align: center
}

.Oriented{
    text-decoration:line-through dotted green;
    text-align: right;
}

.Academy{
    text-decoration: line-through;
}

.is{
    text-decoration:overline ;
}

.the{
    text-decoration: overline green;
    color: lime;
    text-align: right;
}

.BEST{
    text-decoration: overline gray;
    text-align: center;
}

.one{
    text-decoration: underline dotted green;
}