body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

container{
    border: 3px solid black;
    width: 100px;
    display: grid;

}

div{
    height: 100px;
    width: 100px;
}