@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



div{
    background-color: aquamarine;
    width: 500px;
    border-radius: 10px;
    border: 5px solid grey;
    padding: 30px;
    display: flex;
    justify-content: center;
    font-family: "Roboto", serif;
}

h1{
    text-align: center;
    font-family: "Roboto", serif;
}


input{
    background-color: rgb(181, 255, 251);
    border:none;
    outline:none;
    border-bottom: 1px solid rgb(28, 44, 47);
    border-radius: 10px;
    box-shadow: 10px 0px 20px rgb(23, 76, 87);
    font-size: 15px;
    padding: 5px;
    margin: 20px;
    
}