/* 7) შექმენით რამოდენიმე input  , password  და , email  შემდეგ გასტილეთ  გამოიყენეთ box- shadow, padding, margin, border-radius. */



input[type = "text"]{
    border:none;
    outline:dotted;
    border-bottom: 1px dotted rgb(31, 31, 195);
    border-radius: 15px;
    box-shadow: 10px 0px 20px blue;
    font-size: 15px;
    padding: 5px;
    margin: 20px;
}

input[type = "password"]{
    border:none;
    outline:none;
    border-radius: 5px;
    box-shadow: 10px 0px 20px rgb(224, 18, 203);
    font-size: 15px;
    padding: 5px;
    margin: 20px;
}

input[type = "email"]{
    border:none;
    outline:none;
    border-top: 3px solid rgb(82, 153, 167);
    border-bottom: 3px solid rgb(82, 153, 167);
    border-radius: 10px;
    box-shadow: 10px 0px 20px rgb(82, 153, 167);
    font-size: 15px;
    padding: 5px;
    margin: 20px;
    
}