/* 5) შექმენით დივი ამ დივის ზომა იყოს სიგანეში 1000px და სიმაღლე 1000px მასში მოათვსეთ ერთი ფოტო რომლის ზომები სიგანეში და სიმაღლეში იქნება მისი მშობელი დივის ნახევრის ნახევრი ნახევარი 
 */


.parent-div{
    height: 1000px;
    height: 1000px;
    background-color: fuchsia;
}

.child-div{
    height: 12.5%;
    width: 12.5%;
}