/* 3) შექმენით საიტი სადაც დაამატებთ ერთ დივს ამ დივს მისცემს სიმაღლეს 700px და სიგანე 1000px ასევე ბექგაუნდის ფერს მუქლურჯს შემდეგ კი ამ დივში მოათავსეთ კიდევ ერთი დივი რომლის სიმაღლე და სიგანე იქნება მისი მშობლის ნახევარი და მიანიჭეთ ყვითელი ფერი */

.parent-div{
    height:700px;
    width: 1000px;
    background-color: darkblue;
}

.child-div{
    height: 50%;
    width: 50%;
    background-color: yellow;
}