/* 4)  შექმენით საიტი სადაც დაამატებთ ერთ დივს ამ დივს მისცემს სიმაღლეს 700px და სიგანე 1000px ასევე ბექგაუნდის ფერს შავიშემდეგ კი ამ დივში მოათავსეთ კიდევ ერთი დივი რომლის სიმაღლე და სიგანე იქნება მისი მშობლის 1/4 მიანიჭეთ წითელი ფერი */


.parent-div{
    height: 700px;
    width: 1000px;
    background-color: black;

}
.child-div{
    height: 25%;
    width: 25%;
    background-color: red;
}