/* 4) ტექსტის ფერის შეცვლა
გამოიყენეთ CSS, რომ ნებისმიერ ტექსტს მიანიჭოთ სხვადასხვა ფერები, მაგალითად, წითელი, ლურჯი ან მწვანე.
 */


.p1{
    color: red;
}

.p2{
    color: green;
}

.p3{
    color: blue;
}