*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #edf2f8;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

.container-elements{
    flex-wrap: wrap;
}

.box1-box2-container{
    display: flex;
    flex-wrap: wrap;
}

.box4-box5-container{
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;
}

.box1{
    background-color: #733fc8;
    border-radius: 8px;
    height: 280px;
    width: 540px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 30px;
    box-shadow: 5px 20px 100px #a1b1cf;
}

.box2{
    background-color: #49556b;
    height: 280px;
    width: 255px;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 30px;
    box-shadow: 5px 20px 100px #a1b1cf;
}

.box3{
    background-color: #ffffff;
    width: 255px;
    border-radius: 8px;
    height: 582px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 5px 20px 100px #a1b1cf;
}

.box4{
    background-color: #ffffff;
    height: 280px;
    border-radius: 8px;
    width: 255px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 30px;
    box-shadow: 5px 20px 100px #a1b1cf;
}

.box5{
    background-color: #18202d;
    height: 280px;
    border-radius: 8px;
    width: 540px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 30px;
    box-shadow: 5px 20px 100px #a1b1cf;

}

.image{
    border-radius: 100%;
    width: 28px;
    height: 28px;
}

.name-container{
    margin-top: 24px;
    display: flex;
    align-items: center;
}