*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    background-color: hsl(30, 54%, 90%);
    height: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preparation{
    height: 250px;
}

.preparation{
    color: hsl(332, 51%, 32%);
    background-color: hsl(330, 100%, 98%);
    position: sticky;
    display: flex;
}

.lists{
    display: flex;
    flex-direction: column;
}

img{
    height: 250px;
    border-radius: 5px; 
}

.child{
    border-radius: 15px;
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 16px;
}

.child .omelette{
    display: flex;
}

.ingredients{
    color: hsl(14, 45%, 36%);
}

.instructions{
    color: hsl(14, 45%, 36%);
}

.nutrion{
    color: hsl(14, 45%, 36%);
}


.names{
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: left;
}

.nums{
    display: flex;
    gap: 5px;
    justify-content: left;
}
