@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
}
.text{
    background-color: hsl(244, 38%, 16%);
    height: 450px;
    width: 500px;
    color: white;
    padding: 50px 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text h1{
    gap: 50px;
    height: 110px;
}
.text p{
    opacity: 0.7;
    gap:50%;
    height: 150px;
}
.text ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 65px;
}
img{
    height: 450px;
    width: 500px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}